<!-- <div id="filterOpenButton">
 <md-button ng-click="main.toggleFilter()" class="material-icons" ng-if="!main.filterOpen">keyboard_arrow_right</md-button>
 <md-button ng-click="main.toggleFilter()" class="material-icons" ng-if="main.filterOpen">keyboard_arrow_left</md-button>
 </div>
 -->
<h1 class="md-display-2">{{main.currentActivity.name}}!</h1>

<div ng-if="main.currentActivity.file_name !== '' ">
<img src="images/{{main.currentActivity.file_name}}"></img>
</div>


<div ng-if="main.currentActivity.description !== '' ">
    <div id="activityDescription">{{main.currentActivity.description}}
        <a ng-if="main.currentActivity.link !== '' " href= {{main.currentActivity.link}}>here</a>
    </div>
</div>

<div ng-if="!main.timerStarted">
    <md-button ng-click="startTimer()">
        Start Activity!
    </md-button>
</div>

<div ng-if="main.timerStarted" id="timerDiv">
    <div id="timerContent">
        <h2 class="md-display-1" id="timeLeftLabel">{{timeLeftLabel}} left before bedtime!</h2>
        <md-button class="md-raised" href="bedtime.html#/activityFeedback/{{main.currentActivity.id}}" id="endActivityButton">Goodnight</md-button>
    </div>
</div>