/*
CSS for the CS142 project #5 main page

Since CSS uses a global name space for classes we should use class names starting with
cs142-main- here.
*/
/* App Colors from https://color.adobe.com/Quiet-Cry-color-theme-124171/ */

/* New app colors: https://color.adobe.com/Friends-and-foes-color-theme-1175537/
*/

body {
    background-color: #A3FFB4;
    color: #31353D;
}
html {
    font-family: 'Lora', serif;
    background: #FCF9FF;
}
div {
    margin: 10pt;
    text-align: center;
    border-radius: 10pt;
}
h1, h2, h3 {
    font-family: 'Istok Web', sans-serif;
    margin: 20pt;
}
h1 {
    letter-spacing: -3pt;
}
#siteTitle {
    color: #FCF9FF;
}
#header {
    background-color: #46BCFF;
    border-bottom: 2pt solid #3543E8;
    color: #FCF9FF;
}
#navigation {
    background-color: #46BCFF;
}
#appLocation{
    margin-right: 10pt;
}
#greeting {
    float: right;
}
#selected {
    font-weight: bold;
    background-color: #A3FFB4;
    color: #31353D;
    border-radius: 0pt;
}
#filterActivities {
    width: 40%;
    /*border: 1pt solid #92CDCF;*/
}
#weeklyActivities {
    width: 40%;
}

#noScroll {
    overflow: none;
}