<div id="filterOpenButton" ng-if="!main.quickEvent">
 <md-button ng-click="main.toggleFilter()" class="material-icons" ng-if="!main.filterOpen">keyboard_arrow_right</md-button>
 <md-button ng-click="main.toggleFilter()" class="material-icons" ng-if="main.filterOpen">keyboard_arrow_left</md-button>
 </div>


<h1 class="md-display-2">Weekly Dashboard</h1>

<div id="weeklyActivityList">
    <div class="dailyActivity" ng-repeat="curActivity in main.weeklyActivities track by $index">
        <h2>{{weekdays[$index]}}
<span class="material-icons newActivity" ng-click="main.newActivity($index)">refresh</span>
        </h2>        
        <a href="/bedtime.html#/activity/{{curActivity.id}}">

        <span ng-if="curActivity.file_name !== '' ">
        <img src="images/{{curActivity.file_name}}" class="activityImg"></img>
        </span>
        <br>
        <h3>{{curActivity.name}}</h3>
        </a>
    </div>
</div>

<div id="actionButtons">
<md-button ng-click="exportToPdf()">Export as PDF</md-button>
<md-button ng-click="main.resetWeekActivities()">Reset All</md-button>
</div>