<!-- <div id="activityOverlayWindow" ng-if="showingActivity">
    <div id="activityFrame">
        <ng-include src="'components/activity-detail/activity-detailTemplate.html'">
        </ng-include>
        <br>
        <md-button ng-click="hideActivity()">Back to Week</md-button>
    </div>
</div>
 -->
<!-- <div id="filterOpenButton">
 <md-button ng-click="main.toggleFilter()" class="material-icons" ng-if="!main.filterOpen">keyboard_arrow_right</md-button>
 <md-button ng-click="main.toggleFilter()" class="material-icons" ng-if="main.filterOpen">keyboard_arrow_left</md-button>
 </div>
 -->


<div id="dashboardSubheader">
<span><h1 class="md-display-3 dashboardTitle">Weekly Dashboard</h1></span>
<span flex></span>
</div>

 <div class="table">
 <table id="eventCalendar">
    <tr id="weekdayRow">
        <td class="weekdayLabel"> Sunday </td>
        <td class="weekdayLabel"> Monday </td>
        <td class="weekdayLabel"> Tuesday </td>
        <td class="weekdayLabel"> Wednesday </td>
        <td class="weekdayLabel"> Thursday </td>
        <td class="weekdayLabel"> Friday </td>
        <td class="weekdayLabel"> Saturday </td>
    </tr>
     <tr id="activityNameRow">
        <td ng-repeat="activity in main.weeklyActivities track by $index"> 
            <div class="activityNameContainer" ng-click="main.goToActivity($index)"><h3>{{activity.name}}</h3></div>
        </td>
    </tr>
    
    <tr id="activityImageRow">
        <td ng-repeat="activity in main.weeklyActivities track by $index" class="activityImgContainer" ng-mouseenter="showActivityDetails[$index]=true" ng-mouseleave="showActivityDetails[$index]=false" id="td{{$index}}"> 
            <div ng-click="main.goToActivity($index)">
                <img src="images/{{activity.file_name}}" class="activityImg" ng-hide="showActivityDetails[$index]"></img>
                <div ng-show="showActivityDetails[$index]" class="activityDescription">
                    <b>Number of People:</b> 1-3
                    <br>
                    <b>Time:</b> 10-{{activity.duration}} minutes
                    <br>
                    {{activity.description}}
                </div>
            </div>
        </td>
    </tr>
    
    <tr class="activityActionsRow">
        <td ng-repeat="activity in main.weeklyActivities track by $index" class="activityActionsContainer"> 
            <div class="arrowsLeftRight">
            <md-button class="material-icons shortButtonInvertedStyle refreshActivityButton" ng-click="main.newActivity($index)">keyboard_arrow_left</md-button>
            <md-button class="material-icons shortButtonInvertedStyle refreshActivityButton" ng-click="main.newActivity($index)">keyboard_arrow_right</md-button>
        </td>
    </tr>
    <tr class="activityActionsRow">
        <td ng-repeat="activity in main.weeklyActivities track by $index" class="activityActionsContainer"> 
            <md-button class="shortButtonStyle startActivityButton" ng-click="main.goToActivity($index)">View</md-button>
        </td>
    </tr>

</table>



<div id="actionButtons">
    <md-button class="buttonStyle" ng-click="exportToPdf()">Export as PDF</md-button>
    <md-button class="buttonStyle" ng-click="main.resetActivities()">Reset All</md-button>
</div>

 </div>
