<h1 class="md-display-2">Activity Suggestions</h1>

<div id="resultsDescription">Showing activities that will take up around {{params.duration}} minutes, require {{params.activityLevel}} amounts of energy, and are {{params.activityTag1}}.</div>

<div class="pollResults" ng-repeat="activity in activities">
    <div class="activitySuggestion">    
        <a href="bedtime.html#/activity/{{activity.id}}">
            <div ng-if="activity.file_name != ''">
                <img src="images/{{activity.file_name}}"></img>
            </div>
            <md-button id="selectActivity{{activity.id}}" class='activityBlurb' href="bedtime.html#/activity/{{activity.id}}">{{activity.name}}</md-button>
        </a>
    </div>
</div>